<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Engine App</title>
  <link rel="shortcut icon" href=" ">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>



<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1> Search Engine for covid Research papers </h1>
      <p>Optimized using the Machine learning</p>
      <p>Use this app to find the related articles to the search query</p>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" id='search_query' type="text"
                   placeholder="Add a search term here" aria-label="Search">
            <input class="form-control" id='search_query_cluster' type="text"
                   placeholder="Specify here the cluster of papers to consider" aria-label="Search">
            <p></p>
            <button class="btn btn-primary btn-lg" id="search-btn" type="button" >Search through documents</button>
            <p></p>
            <p id="article_title"></p>
            <p id="search_num"></p>
        </div>
    </div>
   </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="./static/js/app.js"></script>
</body>

</html>