
.container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
}

.list_element{
    background-color:  lightslategray;
    margin: auto;
    width: 50%;
    padding: 5%; 
    justify-content: center;

}

#search_query{
    border-radius:30px;
    height: 3em;
    width: 25em;
    font-size: 1em;
    font-style: unset;
    font-weight: 600;
}

#search_button{
    border-radius:3px;
    border-color: white;
    border-style: none;
    height: 3em;
    width: 10em;
}