<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AI Search Engine</title>
  <link rel='stylesheet' href="./static/css/index.css">
  <link rel="shortcut icon" href=" ">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>



<body>


  <div class="content" id="main">

    <div class="container", id="body">

      <div>
        <h1 class="logo" id="page_logo"> H U S K Y . A I </h1>
      </div>

      <!-- <img src="./imgs/logo.png" alt=""> -->

      <div>
        <input class="input" id="search_query" type="text" value="" placeholder="" aria-label="Search" >
      </div>

      <br>

      <div class="buttons", id="">
        <button class="button" id="search_button" name="" type="button" value="AI Search" > AI search </button>
      </div>

      <p> </p>
      <p id="search_num"></p>

      </div>

      <div class="results", id="result_list">


      </div>
      
      
  
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="./static/js/app.js"></script>
</body>

</html>